header {
    /* background-color: red; */
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 40px;
    padding: 40px;
    z-index: 999;
    /* backdrop-filter: blur(999px); */
}

header a {
    color: var(--text-white);
    text-decoration: none;
    transition: .5s;
}

.a_box_line {
    background-color: var(--brand-main);
    height: 4px;
    border-radius: 4px;

    width: 100%;
    transform: scaleX(0);
    transform-origin: center; /* ключевое */
    transition: transform 0.4s ease;
}

.a_box:hover .a_box_line {
    transform: scaleX(1);
}


.contacts-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 40px;
    margin-top: 200px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.contact-box h1 {
    color: var(--brand-main);
}

.img-box {
    max-width: 500px;
}
.contact-box img {
    width: 100%;
}